{% extends 'base.html' %}

{% block title %}Acerca de Nosotros{% endblock %}

{% block content %}
<h1>Acerca de Nosotros</h1>
<p>Somos una plataforma de streaming de películas que se esfuerza por ofrecer a nuestros usuarios la mejor experiencia cinematográfica posible, en cualquier momento y en cualquier lugar.
   Nuestro objetivo es proporcionar un amplio catálogo de películas de alta calidad que abarque diversos géneros, desde emocionantes aventuras hasta conmovedores dramas, pasando por animadas comedias y fascinantes documentales.
   En nuestra plataforma, los usuarios pueden descubrir nuevas películas, revivir viejos clásicos y disfrutar de contenido exclusivo que no encontrarán en ningún otro lugar. Además, ofrecemos funciones personalizadas, como listas de reproducción recomendadas y opciones de búsqueda avanzada, para que puedan encontrar fácilmente las películas que desean ver.
   En resumen, estamos comprometidos a brindar una experiencia de entretenimiento excepcional a todos nuestros usuarios y a seguir innovando y mejorando constantemente nuestra plataforma para satisfacer sus necesidades y deseos cinematográficos.</p>
{% endblock %}
